# node modules
node_modules/
# logs
logs/
# dependency directories
jspm_packages/
# coverage directory used by tools like istanbul
coverage/
# nyc test coverage
.nyc_output/
#env files
.env
/src/generated/prisma
# output from bundlers
dist/